<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title - The Drop Bears</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400;700&display=swap">
    <link rel="stylesheet" href="https://unpkg.com/phosphor-icons@1.4.2/src/css/icons.css">
    <link rel="stylesheet" href="/src/css/styles.css">
</head>
<body>
    <div id="nav-placeholder"></div>

    <div class="content-wrapper">
        <h1 class="section-title">Title</h1>
    </div>
    <script src="/src/js/navLoader.js" type="module"></script>
    <script src="/src/js/scrollEffects.js" type="module"></script>
    <script src="/src/js/bouncyarrow.js"></script>
    <script src="/src/js/noticeboardLoader.js"></script>
</body>
</html>