<nav>
    <a href="/index.html" class="logo">The Drop Bears</a>
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <ul class="nav-links">
        <li><a href="/about/index.html">About Us</a></li>
        <li class="dropdown">
            <a href="/robots/index.html">Robots <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/robots/index.html#current">Current</a>
                <a href="/robots/index.html#2024">2024</a>
                <a href="/robots/index.html#2023">2023</a>
                <a href="/robots/index.html#pandemicbot">2020 + 2021</a>
                <a href="/robots/index.html#2019">2019</a>
                <a href="/robots/index.html#2018">2018</a>
                <a href="/robots/index.html#2017">2017</a>
                <a href="/robots/index.html#earlier">Earlier Robots</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)">Info <i class="fas fa-caret-down"></i></a>
            <div class="dropdown-content">
                <a href="/resources/index.html">Resources</a>
                <a href="/wiki/index.html">Wiki</a>
                <a href="/noticeboard/index.html">Noticeboard</a>
            </div>
        </li>
        <li><a href="/sponsors/index.html">Sponsors</a></li>
        <li class="dropdown">
            <a href="javascript:void(0)">
                <i class="fa-solid fa-users"></i> <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-content">
                <a href="https://www.instagram.com/frc_thedropbears/">Instagram</a>
                <a href="https://www.youtube.com/c/thedropbears">YouTube</a>
                <a href="https://github.com/thedropbears">GitHub</a>
                <a href="https://www.thebluealliance.com/team/4774">Blue Alliance</a>
            </div>
        </li>
        <li><a href="/join/index.html">Join</a></li>
    </ul>
</nav>