<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% if title %}{{ title }} | {% endif %}{{ settings.name }}</title>
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ settings.description }}{% endif %}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ settings.url }}{{ page.url }}">
<meta property="og:title" content="{% if title %}{{ title }} | {% endif %}{{ settings.name }}">
<meta property="og:description" content="{% if description %}{{ description }}{% else %}{{ settings.description }}{% endif %}">
<meta property="og:image" content="{% if image %}{{ image }}{% elif settings.ogImage %}{{ settings.ogImage }}{% endif %}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ settings.url }}{{ page.url }}">
<meta property="twitter:title" content="{% if title %}{{ title }} | {% endif %}{{ settings.name }}">
<meta property="twitter:description" content="{% if description %}{{ description }}{% else %}{{ settings.description }}{% endif %}">
<meta property="twitter:image" content="{% if image %}{{ image }}{% elif settings.ogImage %}{{ settings.ogImage }}{% endif %}">

<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="/static/img/icon.svg">
<link rel="icon" type="image/png" href="/static/img/icon.png">

<!-- Stylesheet -->
<link rel="stylesheet" href="{{ '/static/css/style.css' | url }}">
