<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% if title %}{{ title }} | {% endif %}{{ settings.name }}</title>
<meta name="description" content="{% if description %}{{ description }}{% else %}{{ settings.description }}{% endif %}">

<!-- Favicon -->
<link rel="icon" type="image/x-icon" href="/favicon.ico">

<!-- Phosphor Icons -->
<link rel="stylesheet" href="{{ '/static/css/phosphor-regular.css' | url }}">
<link rel="stylesheet" href="{{ '/static/css/phosphor-fill.css' | url }}">

<!-- Stylesheet -->
<link rel="stylesheet" href="{{ '/static/css/style.css' | url }}"> 
